<ul>
    {{#each this.beers}}
    <li>
        <img src="{{this.image_url}}" alt="cervezita"/>
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
    </li>
    {{/each}}
</ul>