<section>
    <img class="beer-image" src="{{this.beer.image_url}}" alt="cervezita" />
    <article>
        {{>beerpartial this.beer}}
        <h3>Ingredients: </h3>
        <p><b>Malt: </b>{{this.ingredients.malt}}</p>
        <p><b>Hops: </b>{{this.ingredients.hops}}</p>
    </article>
</section>