<div class="container">
  <img class="main-image" src='/images/beer.png' alt='beer' />

  <a class="link-button" href=''>Check the Beers!</a>
  <a class="link-button" href=''>Check a Random Beer</a>

</div>