<section>
    {{>imagelinkpartial this.beer}}
    <article>
        {{>beerpartial this.beer}}
        <p><b>Food pairing: </b>{{this.beer.food_pairing}}</p>
        <p><b>Brewer tips: </b>{{this.beer.brewers_tips}}</p>
    </article>
</section>