<div>
    <a href="/beer/{{this.beer.id}}">
    <img src="{{this.beer.image_url}}" alt="cervezita" />
</a>
    {{>beerpartial this.beer}}

    <p>{{this.beer.food_pairing}}</p>
    <p>{{this.beer.brewers_tips}}</p>
</div>